:root{
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: white;
  }
  
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(36, 36, 36);
}

img {
    user-select: none;
    -webkit-user-drag: none;
  }

/* header section*/

header{
    display: flex;
    align-items: center;
    background-color: rgb(45, 45, 45);
}

.toggle-button-container{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(45, 45, 45);
}

.header-title{
    font-size: 1.25rem;
    margin: 4vh;
    margin-left: 4vw;
}

.navbar-links{
    display: flex;
    margin-right: 2vw;
    background-color: rgb(45, 45, 45);
}


.navbar-links li{
    list-style: none;
}

.navbar-links li a{
    text-decoration: none;
    color: white;
    padding: 2vh;
    display: block;
}

.navbar-links li:hover{
    background-color: #555;
    border-radius: 10px;
}

.header-toggle-button{
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 32px;
    height: 23px;
    margin-right: 8vw;
}

.header-toggle-button .bar{
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

/* main section*/
main{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 14vh;
    margin: 15vh;
}

.title-container{
    padding-bottom: 31vh;
    text-align: center;
}

.title{
    font-size: 2.75rem;
    margin-top: 2.5vh; 
    color: rgb(36, 36, 36);
}

.title-animation{
    display: block;
    animation: name 900ms ease-in-out;
    transform-origin: bottom;
}

@keyframes name {
    0% {
      transform: scaleY(0);
    }
    60% {
        transform: scaleY(1.4);
    }
    100% {
      transform: scaleY(1);
    }
}

.section{
    margin-top: 5vh;
    padding-top: 8vh;
    align-self: stretch;
    border-top: white 1px solid;
}

.section-paragraph{
    margin-top: 3vh;
}

.no-border{
    border: none;
    margin-top: 0;
}

.container{
    margin-top: 4vh;
    max-width: 85vw;
    cursor: grab;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2vw;
    padding: 1vh
}

.container:active{
    cursor: grabbing;
}

.container .image-list{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 0.5vw;
    overflow-x: auto;
    scrollbar-width: none;
    align-items: center;
    max-width: 100%;
    padding-right: 10px;
}

.container .image-list::-webkit-scrollbar{
    display: none;
}

.container .image-list div{
    border: white 1.5px solid;
    display: flex;
    flex-direction: column;
    width: 8vw;
    height: 8vw;
    font-size: 0.75rem;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    padding: 2vh;
    margin: 5px;
}

.container .image-list .image-item{
    object-fit: cover;
    height: 55%;
    width: auto;
    padding-bottom: 2.5vh;
    padding-top: 1vh;
    max-width: 70%;
}

.container .image-list .npm-image{
    object-fit: contain;
}

.container .slide-button{
    background-color: transparent;
    color: white;
    background: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}


@media (max-width: 500px){
    /* header mobile section*/
    header{
        background-color: transparent;
    }

    .header-toggle-button{
        display: flex;
    }
    
    .navbar-links{
        display: none;
        width: 100%;
        flex-direction: column;
        padding-left: 1.5vw;
        margin-top: -1vh;
        position: absolute;
        margin-top: 8.1vh;
    }

    .navbar-links li{
        width: 97%;
    }

    .header-title{
        margin: 2.5vh;
        font-size: 1.25rem;
    }

    header{
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links li{
        font-size: 1rem;
    }

    .active{
        display: flex;
        padding-bottom: 1vh;

        animation: expand 375ms ease-in-out;
        transform-origin: top;
    }

    .active-reverse {
        display: flex;
        animation: expand-reverse 375ms ease-in-out;
        transform-origin: top;
    }

    @keyframes expand {
        0% {
          transform: scaleY(0);
        }
      
        65% {
          transform: scaleY(1.25);
        }
        
        100% {
          transform: scaleY(1);
        }
    }

    @keyframes expand-reverse {
        0% {
            transform: scaleY(1);
        }
    
        35% {
            transform: scaleY(1.25);
        }
    
        100% {
            transform: scaleY(0);
        }
    }

    /* main mobile section*/
    main{
        display: flex;
        align-items: center;
        flex-direction: column;
        margin: 0;
        padding: 2vh;
        margin-top: 7vh;
        padding-top: 1vh;
    }

    .title-container{
        padding: 0;
        padding-bottom: 8vh;
        text-align: start;
        width: 100%;
    }

    .title{
        font-size: 1.25rem;
        margin-top: 0;
    }

    .name{
        font-size: 1.5rem;
    }

    .section{
        margin-top: 0;
        padding-top: 4vh;
    }

    .no-border{
        margin-top: 0;
        padding-top: 4vh;
    }

    .section-paragraph{
        margin-top: 2vh;
    }

    .container{
        margin-top: 0.75rem;
    }

    .container .image-list div{
        width: 22vw;
        height: 22vw;
        font-size: 0.6rem;
        min-width: 80px;
        min-height: 80px;
        justify-content: center;
        padding: 1vh;
        margin: 3px;
    }

    .container .image-list{
        padding-right: 1px;
    }

    .container .image-list .image-item{
        object-fit: cover;
        height: 50%;
        width: auto;
        max-width: 70%;
        padding: 0;
        padding-bottom: 2vh;
    }
    
    .container .image-list .npm-image{
        object-fit: contain;
    }

    .slide-button{
        display: none;
    }

}   

@media (min-width: 500px) and (max-width: 1024px){
    main{
        margin: 10vh;
    }

    .section{
        margin-top: 0;
        padding-top: 5vh;
    }

    .no-border{
        margin-top: 0;
        padding-top: 4vh;
    }

    .projects{
        margin-top: -1vh;
    }

    .container .image-list div{
        width: 11.5vw;
        height: 11.5vw;
        font-size: 0.7rem;
    }

    .container .image-list .image-item{
        object-fit: cover;
        height: 50%;
        width: auto;
        max-width: 70%;
        margin-top: -1vh;
    }

    .container .image-list .npm-image{
        object-fit: contain;
    }

    .slide-button{
        display: none;
    }

    .container .image-list{
        padding-right: 2px;
    }
}